header div {
    background-color: #61120e;
}

nav {
    color: #eca442;
    background-color: #ca2521;
    border-radius: 15px;
}

img {
    height: 50px;
    width: 50px;
}

form {
    color: #eca442;
    border: solid 5px #61120e;
    background-color: #ca2521;
    border-radius: 10px;
}

form + div {
    border: solid 5px rgba(97, 18, 14, 0.1);
    background-color: rgba(202, 37, 33, 0.1);
    border-radius: 10px;
}

button {
    color: #eca442;
    border: solid 5px #61120e;
    background-color: #ca2521;
}

div div div {
    color: #eca442;
    background-color: #ca2521;
}

#pizzaDetail {
    background-color: #61120e;
    left: 10%;
    top: 15%;
    width: 80vw;
    display: none;
}

#botaoFechar {
    width: 40px;
    height: 40px;
    margin: 3px;
}

.add {
    transition: 0.5s;
}

.add:hover {
    transform: scale(1.1);
}

.remove {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: -30px;
    transition: 0.5s;
}

.remove:hover {
    transform: scale(1.1);
}

.golden {
    border: solid #eca442 2px;
}

footer {
    background-color: #61120e;
}

footer p {
    color: #eca442;
    background-color: #ca2521;
}

footer div div {
    color: #eca442;
    background-color: #ca2521;
}
